/* main */

.swiper{
    &.mv_container{
        height:100vh;
        .swiper-pagination{
            &.mv_global{
                
                &.swiper-pagination-vertical.swiper-pagination-bullets, 
                 > .swiper-pagination-bullets{left:40px;right:auto;transform: translate(0,-50%);width:auto;}
                 .swiper-pagination-bullet{background:none;display:flex;height:10px;width:10px; align-items: center;justify-content: center; opacity:1 !important; margin:10px 0;
                     &:before{display:block; content:''; width:6px;height:6px; border-radius:100%; background:#fff; opacity:.5; transition:.5s;}
         
                     &.swiper-pagination-bullet-active{
                         &:before{width:10px;height:10px; opacity:1;}
                     }
                 }
            }
        }


    }
}

.mv_item{@include bgfull; height:100%; display:flex; flex-direction: column;
   /*  &.scene_01{
        &:before{display:block;content:'';width:100%;height:100%;position:absolute;top:0;left:0;background:#000000;opacity:.64;}
    } */
    &.scene_02{background-image:url("../images/bg_mv02.jpg")}
    &.scene_03{background-image:url("../images/bg_mv03.jpg")}
    &.scene_04{background:#fff;}
}
.mv_item_inner{flex:1;min-height:0;display:flex; justify-content: center; align-items: center;height:100%;}

.main_skin2{
    .header_wrap{
        .toplogo_link{background-position:0 100%;}
        .header_nav_menu{color:#0f0f0f;}
        .util_menu{
            .ico{
                background-position:0 100%;
            }
            .util_menu_text{color:#404040;}
        }
    }
    .mv_container{
        .swiper-pagination{
            &.mv_global{
                .swiper-pagination-bullet{
                    &:before{background:#e1e1e1;}
            
                    &.swiper-pagination-bullet-active{
                        &:before{background:#484848;}
                    }
                }
            }
        }
    }

    .btn_panel_menu{
        &:before,
        &:after{background:#484848;}
    }
    .btn_panel_menu_ico{background:#484848;}
    
}

.mv_gate_swiper_wrap{height:100%;}
.gate_swiper_container{
    height:100%;
    &.swiper-container{
        .swiper-wrapper{}
        .swiper-slide{}
    }
}

.mv_gate_copy_wrap{text-align: center;}
.mv_gate_copy_sub{font-size:24px;color:#fff; font-weight:500; margin-bottom:22px;}
.mv_gate_copy_main{font-size:88px;color:#fff; font-weight:700;}
.mv_gate_copy_sub2{
    font-size:38px; color:#fff; margin-top:18px; line-height:1.3;
    strong{color:#1bb6e3;}
}
.mv_gate_summary_wrap{margin:7.813vw 30px 0;}
.mv_gate_summary_list{
    display:flex; flex-wrap:wrap; justify-content: center; gap:20px;
    > li{

    }
}
.mv_gate_summary{
    display:inline-flex; border-radius:100px; gap:10px; background:rgba(255,255,255,.13); box-sizing: border-box; min-height:64px; padding:15px 30px; align-items: center;
    .ico{
        @include bgicon; width:32px;height:32px; flex:0 0 32px; background-image:url("../images/ico_mv01.png");
        &.ico_01{background-position:0 0;}
        &.ico_02{background-position:0 33.3333333%;}
        &.ico_03{background-position:0 66.6666666%;}
        &.ico_04{background-position:0 100%;}
    }
}
.mv_gate_summary_text{color:#fff; font-size:17px; font-weight:600;}

.mv_gate02_copy_wrap{
    text-align: center; line-height:1.4;
}
.mv_gate02_main_copy{font-size:64px; color:#1bb6e3; font-weight:700; margin-bottom:5px;letter-spacing: -1px;}
.mv_gate02_main_copy2{font-size:64px; color:#fff; font-weight:700;letter-spacing: -1px;}
.mv_gate02_main_copy3{font-size:53px; color:#fff; font-weight:700;letter-spacing: -1px;}
.mv_gate02_sub_copy{font-size:24px;color:#fff; margin-top:40px;}

.mv_item_slide_item{
    height:100%; display:flex; flex-direction: column; justify-content: center; align-items: center;
    @include bgfull;
    /* &.scene_01_01, &.scene_01_02{
        &:before{display:block;content:'';width:100%;height:100%;position:absolute;top:0;left:0;background:#000000;opacity:.64;}
    } */
   &.scene_01_01{
        background-image:url("../images/bg_mvinfo_01.jpg");
    } 
   &.scene_01_02{
        background-image:url("../images/bg_mvinfo_02.jpg");
   } 
   &.scene_01_03{
        background-image:url("../images/bg_mvinfo_03.jpg");
   } 
}

.mv_scene_img_wrap{text-align: center;height:100%; box-sizing: border-box;padding:80px 30px 0 30px;}
.mv_scene_img_title{
    margin-bottom:30px; /* height:17.5%; */
    img{vertical-align: top; height:100%; max-width:100%;}
}
.mv_scene_text_subcopy{word-break: keep-all;font-size:24px;color:#333333;font-weight:700;margin-bottom:30px;}
.mv_scene_img_contents{
    /* height:70%; */
    img{vertical-align: top; height:100%; max-width:100%;}
}

.mv_cbox_container{}
.mv_cbox_ctr{
    &:last-of-type{}
}
.mv_cbox_cell{
    &.define_liquid{}
    &.define_fixed{}
}
.mv_cbox_copy_wrap{}
.mv_cbox_main_copy{}
.mv_cbox_sub_copy{}
.mv_cbox{}
.mv_cbox_title_row{
    .ico{
        &.ico_01{}
        &.ico_02{}
        &.ico_03{}
        &.ico_04{}
    }
}
.mv_cbox_text{}
.mv_cbox_sub_row{}
.mv_cbox_sub{}
.mv_cbox_btn_row{}
.btn_cbox{
    &:after{}
}
.btn_cbox_text{}

.swiper-pagination{
    &.mv_inner{
        bottom:60px; line-height:0; font-size:0;
        .swiper-pagination-bullet{
            opacity:1; width:11px;height:11px; border-radius:100px; background:#b8bcbf;
            &.swiper-pagination-bullet-active{
                width:56px; background:#73cce9;
            }
        }
    }
}

.mv_item_copy_wrap{}
.mv_item_main_copy{
    strong{}
}
.else_sub_text{}
.mv_item_sub_copy{}

.mv_card_list_wrap{}
.mv_card_list{
    > li{}
}
.mv_card_obj{
    &:hover{
        .mv_pro_sub_copy{}
        .mv_pro_img_wrap{}
        .mv_pro_img{
            &.sse{}
        }
        .mv_pro_icon_wrap{
            .ico{
                &.ico_sse{}
            }
        }
        .mv_pro_btn_wrap{}
        .btn_mv_pro{}
    }
}
.mv_pro_sub_copy{}
.mv_pro_img_wrap{}
.mv_pro_img{
    &.sse{}
    &.wse{}
    &.nse{}
    &.uvm{}
}
.mv_pro_icon_wrap{
    .ico{
        &.ico_sse{}
        &.ico_wse{}
        &.ico_nse{}
        &.ico_uvm{}
    }
}
.mv_pro_btn_wrap{}
.btn_mv_pro{}

.mv_motion_card_list_wrap{}
.mv_motion_card_list{
    > li{

    }
}
.mv_motion_card{
    &:hover{
        .mv_motion_liquid{}
        .mv_motion_hover_row{}
        .mv_motion_keyword_row{}
        .mv_motion_keyword{}
    }
    &.skin2{
        .btn_mv_motion{}
        .mv_motion_liquid{}
        &:hover{
            .mv_motion_liquid{}
            .mv_motion_hover_row{}
            .mv_motion_keyword_row{}
            .mv_motion_keyword{}
            .btn_mv_motion{}
        }
    }
    &.skin3{
        .btn_mv_motion{}
        .mv_motion_liquid{}
        &:hover{
            .mv_motion_liquid{}
            .mv_motion_hover_row{}
            .mv_motion_keyword_row{}
            .mv_motion_keyword{}
            .btn_mv_motion{}
        }
    }
    &.skin4{
        .btn_mv_motion{}
        .mv_motion_liquid{}
        &:hover{
            .mv_motion_liquid{}
            .mv_motion_hover_row{}
            .mv_motion_keyword_row{}
            .mv_motion_keyword{}
            .btn_mv_motion{}
        }
    }
}
.mv_motion_liquid{

}
.mv_motion_keyword_row{
    
}
.mv_motion_keyword{}
.mv_motion_name_row{

}
.mv_motion_name_img{
    &.logcops{
        
    }
    &.privacycops{

    }
    &.factory{

    }
}
.mv_motion_name_text{}
.mv_motion_caption_row{

}
.mv_motion_caption{}
.mv_motion_hover_row{

}
.mv_mcard_option_list{
    > li{
        &:before{}
        &:last-of-type{}
    }
}
.btn_mv_motion{
    &:after{}
}
.btn_mv_motion_text{}

@media (max-width:1919px){
    /* .mv_scene_img_title{
        margin-bottom:2.8%; height:17.5%;
    }
    .mv_scene_text_subcopy{font-size:20px;margin-bottom:2.8%;}
    .mv_scene_img_contents{
        height:70%;
    } */
}
@media (min-height:1075px){
    .mv_scene_img_wrap{padding-top:125px}
}

@media (max-width:$mobile_large){
    .swiper{
        &.mv_container{
            height:100vh;
            
            .swiper-pagination.mv_global{

                &.swiper-pagination-vertical.swiper-pagination-bullets, 
                 > .swiper-pagination-bullets{left:20px;}
            }
        }
    }
    .swiper-pagination{
        &.mv_inner{
            bottom:30px; 
            .swiper-pagination-bullet{
                width:8px;height:8px;
                &.swiper-pagination-bullet-active{
                    width:28px;
                }
            }
        }
    }
}

@media (min-width:1921px){
    .mv_gate_summary_wrap{margin-top:150px}
}