/* main */

.swiper{
    &.mv_container{
        height:100vh;
        > .swiper-wrapper{
            > .swiper-slide{
                &.swiper-slide-active{
                    .mv_item{
                        > .scene_bg{transform: scale(1.0);}
                        
                        .mv_cbox_main_copy,
                        .mv_cbox_sub_copy{transform:translate(0,0);opacity:1;}
                        .mv_cbox_main_copy{}
                        .mv_cbox_sub_copy{transition-delay: .8s;}

                        .mv_cbox{
                            transform:translate(0,0);opacity:1;
                        }

                        .mv_cbox_cell{
                            &:nth-of-type(2){
                                .mv_cbox{transition-delay: .9s;}
                            }
                            &:nth-of-type(3){
                                .mv_cbox{transition-delay: 1.2s;}
                            }
                            &:nth-of-type(4){
                                .mv_cbox{transition-delay: 1.4s;}
                            }
                            &:nth-of-type(5){
                                .mv_cbox{transition-delay: 1.6s;}
                            }
                        }
                        .mv_item_main_copy,
                        .mv_item_sub_copy{transform:translate(0,0);opacity:1;}
                        .mv_item_main_copy{transition-delay: .8s;}
                        .mv_item_sub_copy{transition-delay: 1.2s;}

                        .mv_card_obj,.mv_motion_card{transform:translate(0,0);opacity:1;}
                        .mv_card_list{
                            >li{
                                &:nth-of-type(1){
                                    .mv_card_obj{transition-delay: 1.0s;}
                                }
                                &:nth-of-type(2){
                                    .mv_card_obj{transition-delay: 1.2s;}
                                }
                                &:nth-of-type(3){
                                    .mv_card_obj{transition-delay: 1.4s;}
                                }
                                &:nth-of-type(4){
                                    .mv_card_obj{transition-delay: 1.6s;}
                                }
                            }
                        }

                        .mv_motion_card_list{
                            >li{
                                &:nth-of-type(1){
                                    .mv_motion_card{transition-delay: 1.0s;}
                                }
                                &:nth-of-type(2){
                                    .mv_motion_card{transition-delay: 1.2s;}
                                }
                                &:nth-of-type(3){
                                    .mv_motion_card{transition-delay: 1.4s;}
                                }
                                &:nth-of-type(4){
                                    .mv_motion_card{transition-delay: 1.6s;}
                                }
                            }
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            &.mv_global{
                
                &.swiper-pagination-vertical.swiper-pagination-bullets, 
                 > .swiper-pagination-bullets{left:40px;right:auto;transform: translate(0,-50%);width:auto;}
                 .swiper-pagination-bullet{background:none;display:flex;height:10px;width:10px; align-items: center;justify-content: center; opacity:1 !important; margin:10px 0;
                     &:before{display:block; content:''; width:6px;height:6px; border-radius:100%; background:#fff; opacity:.5; transition:.5s;}
         
                     &.swiper-pagination-bullet-active{
                         &:before{width:10px;height:10px; opacity:1;}
                     }
                 }
            }
        }
        .swiper-slide{position:relative;overflow:hidden;}
        &.scrollmode{
            /* height:auto; */
            /* .swiper-wrapper{transform: none !important;} */
            /* .swiper-slide{height:auto !important;} */
            /* .mv_item{height:auto;min-height:1050px;} */
            /* .mv_item ,
            .mv_item_slide_item {
                min-height:1050px;
            }
            .swiper-slide{height:auto !important;} */
        }
    }
}

.mv_item{@include bgfull; height:100%; display:flex; flex-direction: column; min-height:100vh;
    &.scene_02{
        .scene_bg{background-image:url("../images/bg_mv02.jpg");}
    }
    &.scene_03{
        .scene_bg{background-image:url("../images/bg_mv03.jpg");}
    }
    &.scene_04{background:#fff;
        .mv_item_inner{
            
        }
    }
}
.mv_item_inner{flex:1;min-height:0;display:flex; justify-content: center; align-items: center;height:100%; position:relative; box-sizing: border-box;
    &.type2{
        flex-direction: column; gap:90px;
    }
    &.type3{
        flex-direction: column;
    }
}

.mv_item_package{
    display:flex; flex-direction: column; gap:90px;
}

.main_skin2{
    .header_wrap{
        .toplogo_link{background-position:0 100%;}
        .header_nav_menu{color:#0f0f0f;}
        .util_menu{
            .ico{
                background-position:0 100%;
            }
            .util_menu_text{color:#404040;}
        }
        .btn_util_box{border-color:#ddd;}
        .login_men{color:#404040}
    }
    .mv_container{
        .swiper-pagination{
            &.mv_global{
                .swiper-pagination-bullet{
                    &:before{background:#e1e1e1;}
            
                    &.swiper-pagination-bullet-active{
                        &:before{background:#484848;}
                    }
                }
            }
        }
    }

    .btn_panel_menu{
        &:before,
        &:after{background:#484848;}
    }
    .btn_panel_menu_ico{background:#484848;}
    
}

.mv_gate_swiper_wrap{height:100%;}
.gate_swiper_container{
    height:100%;
    &.swiper-container{
        .swiper-wrapper{}
        .swiper-slide{
            &.swiper-slide-active{
                .scene_bg{transform: scale(1.0);}

                .mv_gate_copy_sub,.mv_gate_copy_main,.mv_gate_copy_sub2,.mv_gate_summary_wrap{ opacity:1;transform: translateY(0);
                    
                }
                .mv_gate_copy_sub{transition-delay: .6s;}
                .mv_gate_copy_main{transition-delay: .8s;}
                .mv_gate_copy_sub2{transition-delay: 1.0s;}
                .mv_gate_summary_wrap{transition-delay: 1.2s;}


                .mv_gate02_main_copy,.mv_gate02_main_copy2,.mv_gate02_main_copy3,.mv_gate02_sub_copy{
                    /* animation: left_motion 1s ease-out forwards; */
                    opacity:1;transform: translateX(0);
                }
                .mv_gate02_img_wrap{
                    opacity:1;transform: translateX(0);
                }

                .mv_gate02_main_copy{transition-delay: .6s;}
                .mv_gate02_main_copy2{transition-delay: .8s;}
                .mv_gate02_main_copy3{transition-delay: 1.0s;}
                .mv_gate02_sub_copy{transition-delay: 1.2s;}

                .mv_gate02_img_wrap{transition-delay: 1.4s;}

                .mv_secquard_img_wrap{
                    opacity:1;margin-top:0; transition-delay: .8s;
                    > img{}
                }

            }
        }
    }
}

.mv_gate_copy_wrap{text-align: center; }
.mv_gate_copy_sub{font-size:24px;color:#fff; font-weight:500; margin-bottom:22px;}
.mv_gate_copy_main{font-size:88px;color:#fff; font-weight:700;}
.mv_gate_copy_sub2{
    font-size:38px; color:#fff; margin-top:18px; line-height:1.3; 
    strong{color:#1bb6e3;}
}
.mv_gate_summary_wrap{margin:7.813vw 30px 0;}
.mv_gate_summary_list{
    display:flex; flex-wrap:wrap; justify-content: center; gap:20px;
}
.mv_gate_summary{
    display:inline-flex; border-radius:100px; gap:10px; background:rgba(255,255,255,.13); box-sizing: border-box; min-height:64px; padding:15px 30px; align-items: center;
    .ico{
        @include bgicon; width:32px;height:32px; flex:0 0 32px; background-image:url("../images/ico_mv01.png");
        &.ico_01{background-position:0 0;}
        &.ico_02{background-position:0 33.3333333%;}
        &.ico_03{background-position:0 66.6666666%;}
        &.ico_04{background-position:0 100%;}
    }
}
.mv_gate_summary_text{color:#fff; font-size:17px; font-weight:600;}



.mv_gate02_copy_wrap{
    text-align: left; line-height:1.4;
}
.mv_gate02_container{
    display:flex; justify-content: center; gap:6.771vw;  margin:0 11.979vw; align-items: center;
}
.mv_gate02_copy_wrap{line-height:1.3;}
.mv_gate02_main_copy{font-size:64px; color:#1bb6e3; font-weight:700; margin-bottom:25px;letter-spacing: -1px; word-break: keep-all;}
.mv_gate02_main_copy2{font-size:52px; color:#fff; font-weight:700;letter-spacing: -1px; word-break: keep-all;}
.mv_gate02_main_copy3{font-size:44px; color:#fff; font-weight:700;letter-spacing: -1px; word-break: keep-all;}
.mv_gate02_sub_copy{font-size:20px;color:#fff; margin-top:20px; word-break: keep-all;}
.mv_gate02_img_wrap{
    img{}
}

.mv_item_slide_item{
    height:100%; display:flex; flex-direction: column; justify-content: center; align-items: center;  min-height:100vh;
    /* @include bgfull; */
    /* &.scene_01_01, &.scene_01_02{
        &:before{display:block;content:'';width:100%;height:100%;position:absolute;top:0;left:0;background:#000000;opacity:.64;}
    } */
   &.scene_01_01{
       .scene_bg{background-image:url("../images/bg_mvinfo_01.jpg");}
    } 
   &.scene_01_02{
        .scene_bg{background-image:url("../images/bg_mvinfo_02.jpg");}
   } 
   &.scene_01_03{
        .scene_bg{background-image:url("../images/bg_mvinfo_03.jpg");}
        display:block;
   } 
}
.scene_bg{
    @include bgfull; position:absolute;top:0;left:0;width:100%;height:100%;  transform: scale(1.6); transition:transform 2s ease .5s;  
}
.check_height{position:relative;}


.mv_scene_img_wrap{text-align: center;height:100%; box-sizing: border-box;padding:80px 30px 0 30px;}
.mv_scene_img_title{
    margin-bottom:30px; /* height:17.5%; */
    img{vertical-align: top; height:100%; max-width:100%;}
}
.mv_scene_text_subcopy{word-break: keep-all;font-size:24px;color:#333333;font-weight:700;margin-bottom:30px;}
.mv_scene_img_contents{
    /* height:70%; */
    img{vertical-align: top; height:100%; max-width:100%;}
}
.mv_secquard_img_wrap{
    display:block;  height:calc(100vh - 80px); box-sizing: border-box; transform:translate(0,80px); 
    img{vertical-align: top; width:100%; height:100%;max-width: inherit;position:absolute;top:0;left:50%;object-fit: contain;object-position: 50% 50%; max-width:1200px;transform: translateX(-50%);}
}

.mv_cbox_container{width:100%; position:relative; /* padding:0 11.45833333333333%; */ padding:0 11.458vw; box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4열로 구성 */
    gap: 34px; /* 셀 사이의 간격 */
    .mv_cbox_copy_wrap{text-align: left;}
}
/* .mv_cbox_ctr{
    display:flex; gap:34px; margin-right:-34px;
    &:last-of-type{}
} */
.merged {
    grid-column: span 2; /* 셀을 2열 병합 */
}
.mv_cbox_cell{
    
}
.mv_cbox_copy_wrap{line-height:1.4;}
.mv_cbox_main_copy{font-size:64px; color:#fff; font-weight:700; letter-spacing: -1px; word-break: keep-all;}
.mv_cbox_sub_copy{font-size:20px; color:#fff;  letter-spacing: -0.25px; margin-top:25px; word-break: keep-all;}
.mv_cbox{background:#fff; border-radius:18px;box-shadow: 0px 8px 8px 0px rgba(19, 19, 20, 0.15);
    width:100%; height:100%; box-sizing: border-box; padding:40px 35px; transition:.4s; display:flex; flex-direction: column;;
    &:hover{
        background-color:#3246a3;
        .mv_cbox_text,.mv_cbox_sub{color:#fff;}
        .mv_cbox_title_row{
            .ico{background-position:0 100%;}
        }
        .btn_cbox{background-color:#2b3c8b;
            &:after{border-color:#fff;}
        }
        .btn_cbox_text{color:#fff;}
    }
}
.mv_cbox_ts_row{flex:1;}
.mv_cbox_title_row{
    display:flex; gap:10px; align-items: center; margin-bottom:20px;
    .ico{
        @include bgicon; width:50px;height:50px; flex:0 0 50px;
        &.ico_01{background-image:url("../images/ico_mv02_box01.png");}
        &.ico_02{background-image:url("../images/ico_mv02_box02.png");}
        &.ico_03{background-image:url("../images/ico_mv02_box03.png");}
        &.ico_04{background-image:url("../images/ico_mv02_box04.png");}
    }
}
.mv_cbox_text{font-size:30px; font-weight:700; color:#2a2a2a; line-height:1; letter-spacing: -0.5px;}
.mv_cbox_sub_row{}
.mv_cbox_sub{font-size:19px; color:#333333; font-weight:500; line-height:1.4; letter-spacing: -0.5px; word-break: keep-all;}
.mv_cbox_btn_row{margin-top:50px; text-align: right;}
.btn_cbox{
    background:#f2f2f2; border-radius:100px;padding:15px 50px 15px 36px;display:inline-block; position:relative;
    &:after{display:block;content:'';width:8px;height:8px;border-right:2px solid #a7a7a7; border-top:2px solid #a7a7a7; position:absolute;top:20px;right:30px; transform: rotate(45deg);}
}
.btn_cbox_text{display:inline-block;font-size:18px; }

.swiper-pagination{
    &.mv_inner{
        bottom:60px; line-height:0; font-size:0;
        .swiper-pagination-bullet{
            opacity:1; width:11px;height:11px; border-radius:100px; background:#b8bcbf;
            &.swiper-pagination-bullet-active{
                width:56px; background:#73cce9;
            }
        }
    }
}

.mv_item_copy_wrap{text-align: center;}
.mv_item_main_copy{
    font-size:64px; color:#333333; font-weight:700; letter-spacing: -1px; word-break: keep-all;
    strong{color:#13479b;font-weight:700; }
}
.else_sub_text{font-size:60px; font-weight:400;}
.mv_item_sub_copy{font-size:24px; color:#333333; letter-spacing: -0.5px; margin-top:10px; word-break: keep-all;}

.mv_card_list_wrap{width:100%;box-sizing: border-box;padding:0 10.417vw;}
.mv_card_list{
    display:flex; gap:40px; text-align: center; 
    > li{flex:1;}
}
.mv_card_obj{
    position:relative;height:100%; box-sizing: border-box; padding:60px 20px 40px; /* box-shadow: 0px 8px 8px 0px rgba(19, 19, 20, 0.15); */
    &:before{display:block;content:'';width:100%;height:100%;background:#fff;position:absolute;top:0;left:0; border-radius:40px; transition:.4s;
        box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.15); transform: scale(1.0);
    }
    > *{display:block; position:relative;}
    &:hover{
        &:before{background-color:#13479b; transform: scale(1.1);}
        .mv_pro_sumary,
        .mv_pro_sub_copy{color:#fff;}
        .mv_pro_img_wrap{}
        .mv_pro_img{
            img{
                &.default{display:none;}
                &.hover{display:inline;}
            }
        }
        .mv_pro_icon_wrap{
            .ico{
                background-position:0 100%;
                &.ico_sse{}
            }
        }
        .mv_pro_btn_wrap{}
        .btn_mv_pro{color:#fff;border-color:#fff;background-color:#13479b;}
    }
}
.mv_pro_sub_copy_wrap{display:flex; align-items: center; justify-content: center; text-align: center; margin-bottom:10px;
    .mv_pro_sub_copy{margin:0;}
}
.mv_pro_sub_copy{font-size:18px; color:#333333; letter-spacing: -0.25px; margin-bottom:10px; word-break: keep-all;}
.mv_pro_img_wrap{text-align: center;}
.mv_pro_img{
    /* height:30px; @include bgicon; margin:0 auto;
    &.sse{background-image:url("../images/pro_mv_sse.png");width:247px;}
    &.wse{background-image:url("../images/pro_mv_wse.png");width:246px;}
    &.nse{background-image:url("../images/pro_mv_nse.png");width:247px;}
    &.uvm{background-image:url("../images/pro_mv_uvm.png");width:246px;} */
    img{
        vertical-align: top;
        &.default{}
        &.hover{display:none;}
    }
}
.mv_pro_icon_wrap{
    .ico{
        width:140px;height:140px; @include bgicon; margin:30px auto;
        &.ico_sse{background-image:url("../images/pro_mv_icon_sse.png");}
        &.ico_wse{background-image:url("../images/pro_mv_icon_wse.png");}
        &.ico_nse{background-image:url("../images/pro_mv_icon_nse.png");}
        &.ico_uvm{background-image:url("../images/pro_mv_icon_uvm.png");}
    }
}

.mv_pro_sumary{font-size:16px; color:#333; word-break: keep-all; font-weight:500;}
.mv_pro_btn_wrap{margin-top:30px;}
.btn_mv_pro{display:inline-block;font-size:18px; color:#2b2b2b; padding:15px 30px; background:#f2f2f2; border:1px solid #f2f2f2; border-radius:100px; min-width:145px; text-align: center; box-sizing: border-box;}


.mv_pro_summary_wrap{display:flex;justify-content: center; text-align: center;align-items: center;}
.mv_pro_summary{font-size:16px; font-weight:500; color:#333;}
.mv_motion_card_list_wrap{padding:0 7.813vw;width:100%; box-sizing: border-box;}
.mv_motion_card_list{
    display:flex; gap:36px;
    > li{
        flex:1;
    }
}
.mv_motion_card{
    border-radius:46px;background:#057ea7; box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.15); position:relative;overflow:hidden;  height:100%; box-sizing: border-box; 
    display:flex; flex-direction: column; min-height:500px;
    &:hover{
        .mv_motion_liquid{
            /* justify-content: flex-start; */ padding:30px 0;
            &:before{height:calc(100% + 1px);opacity:1;}
        }
        .mv_motion_hover_row{display:block;}
        .mv_motion_keyword_row{text-align: left;}
        .mv_motion_keyword{}
    }
    &.skin2{
        background-color:#0077ca;
        .btn_mv_motion{}
        .mv_motion_liquid{background-image:url("../images/bg_probox_02.jpg");
            &:before{
                background-color:#0077ca;
            }
        }
        &:hover{
            .mv_motion_liquid{}
            .mv_motion_hover_row{}
            .mv_motion_keyword_row{}
            .mv_motion_keyword{}
            .btn_mv_motion{}
        }
    }
    &.skin3{
        background-color:#004fb3;
        .btn_mv_motion{}
        .mv_motion_liquid{background-image:url("../images/bg_probox_03.jpg");
            &:before{
                background-color:#004fb3;
            }
        }
        &:hover{
            .mv_motion_liquid{}
            .mv_motion_hover_row{}
            .mv_motion_keyword_row{}
            .mv_motion_keyword{}
            .btn_mv_motion{}
        }
    }
    &.skin4{
        background-color:#0b7281;
        .btn_mv_motion{}
        .mv_motion_liquid{background-image:url("../images/bg_probox_04.jpg");
            &:before{
                background-color:#0b7281;
            }
        }
        &:hover{
            .mv_motion_liquid{}
            .mv_motion_hover_row{}
            .mv_motion_keyword_row{}
            .mv_motion_keyword{}
            .btn_mv_motion{}
        }
    }
}
.mv_motion_liquid{
    flex:1; min-height:0; position:relative; text-align:center; background:url("../images/bg_probox_01.jpg") no-repeat 50% 50%/cover; display:flex; flex-direction: column; justify-content: center; align-items: center;
    &:before{display:block;content:'';width:100%;height:0; background:#057ea7; position:absolute;top:0;left:0; opacity:0; z-index:0; transition:.4s;}
    > *{position:relative; z-index:1;}
}
.mv_motion_keyword_row{
    margin-bottom:20px; width:100%; box-sizing: border-box;padding:0 30px;
}
.mv_motion_keyword{font-size:16px; color:#fff; font-weight:500;padding:10px 18px; border-radius: 100px; display:inline-block; border:1px solid #fff; word-break: keep-all; text-align: center;}
.mv_motion_name_row{

}
.mv_motion_name_img{
    text-align: center; display:block;
    img {vertical-align: top;}
}
.mv_motion_name_text{}
.mv_motion_caption_row{
    margin-top:20px; width:100%; box-sizing: border-box;padding:0 30px;
}
.mv_motion_caption{font-size:18px; color:#fff; font-weight:700; word-break: keep-all; line-height:1.4;}
.mv_motion_hover_row{
    display:none; text-align: left; padding-top:30px;margin-top:30px; border-top:1px solid rgba(255,255,255,.2);box-sizing: border-box;width:calc(100% - 60px);
}
.mv_mcard_option_list{
    > li{
        color:#fff; font-weight:500; font-size:16px; margin-bottom:10px; position:relative; padding-left:15px; word-break: keep-all;
        &:before{display:block;content:'';width:6px;height:6px;background:#fff; border-radius:100%; position:absolute;top:7px;left:0;}
        &:last-of-type{margin-bottom:0;}
    }
}
.btn_mv_motion{
    flex:0 0 64px; display:flex; align-items: center; justify-content: center; gap:12px;
    &:after{display:block;content:'';width:40px; height:12px; flex:0 0 40px; background:url("../images/btn_allow_mvpro.png") no-repeat 0 0/100% auto;}
}
.btn_mv_motion_text{font-size:16px; color:#fff; font-weight:500; display:inline-block; line-height:1;}




.gate_bottom_layer{position:absolute;bottom:130px;right:60px;z-index:30; transition:.4s;}
.gate_bottom_item_list{
    display:flex; flex-direction: column; gap:20px;
    > li{

    }
}
.btn_bottom_menu{
    display:flex; flex-direction: column; justify-content: center; align-items: center; width:104px;height:104px; border-radius: 100%; background:#1bb6e3; gap:10px; text-align: center;
    .ico{
         @include bgicon;
        &.inquiry{background-image:url("../images/ico_talk_layer.png"); width:33px;height:24px;}
    }
}
.bottom_menu_text{color:#fff; font-size:16px; font-weight:700; display:inline-block;}


/* motion */
.mv_gate_copy_sub, .mv_gate_copy_main, .mv_gate_copy_sub2, .mv_gate_summary_wrap{ opacity:0; transform: translateY(50px); transition:all 1s ease-out;}
.mv_gate02_main_copy,.mv_gate02_main_copy2,.mv_gate02_main_copy3,.mv_gate02_sub_copy{
    opacity:0; transform: translateX(-50px);  transition:all 1s ease-out;
}
.mv_gate02_img_wrap{
    opacity:0; transform: translateX(50px);  transition:all 1s ease-out;
}
.mv_secquard_img_wrap{
    opacity:0; margin-top:-50px; transition:all 1s ease-out;
}
.mv_cbox_main_copy,
.mv_cbox_sub_copy{opacity:0; transform: translateX(50px);  transition:all 1s ease-out .5s;}

.mv_cbox{ transform: translate(0,100px); opacity:0;  transition:transform 1s ease-out .8s,opacity 1s ease-out .8s;}

.mv_item_main_copy,
.mv_item_sub_copy{opacity:0; transform: translateY(100px);  transition:all 1s ease-out;}

.mv_card_obj,.mv_motion_card{opacity:0; transform: translateY(100px);  transition:all 1s ease-out;}

@keyframes zoomin_main {
    0% {transform: scale(1.6);}
    100% { transform: scale(1.0);}
}

@keyframes up_motion {
    0% {opacity:0; transform: translateY(50px);}
    100% { opacity:1; transform: translateY(0);}
}

@keyframes left_motion {
    0% {opacity:0; transform: translateX(-50px);}
    100% { opacity:1; transform: translateX(0);}
}

@keyframes right_motion {
    0% {opacity:0; transform: translateX(50px);}
    100% { opacity:1; transform: translateX(0);}
}

@media (max-width:1919px){
    /* .mv_scene_img_title{
        margin-bottom:2.8%; height:17.5%;
    }
    .mv_scene_text_subcopy{font-size:20px;margin-bottom:2.8%;}
    .mv_scene_img_contents{
        height:70%;
    } */
}
@media (max-width:1680px){
    .mv_cbox_container{padding:0 130px;gap:20px;}
    .mv_item_package {gap:50px;}
    .mv_card_list{gap:20px;}
    .mv_card_obj{
        padding:30px 20px;
        &:before{border-radius:20px;}
    }
    .mv_pro_icon_wrap{
        .ico{width:100px;height:100px;margin:10px auto;}
    }
    .mv_motion_card_list{gap:20px;}
    .mv_motion_card{border-radius:20px; min-height:450px;
        &:hover{
            .mv_motion_liquid{padding:15px}
        }
    }
    .mv_motion_keyword_row{padding:0 10px;}
    .mv_motion_keyword{padding:7px 15px;font-size:14px;}
    .mv_motion_name_img{
       /*  img{max-width:80%;} */
    }
    
    .mv_motion_liquid{padding:15px;}
    .mv_motion_caption_row{padding:0;}
    .mv_motion_caption{
        font-size:16px;
        br{display:none;}
    }

    .mv_motion_hover_row{
        width:calc(100% - 20px);
        margin-top:20px;padding-top:20px;
    }

    .mv_cbox_main_copy{font-size:46px; letter-spacing: -0.5px;}
    .mv_cbox_sub_copy{font-size:24px;  margin-top:15px;}

    .mv_item_main_copy{
        font-size:46px; letter-spacing: -0.5px;
    }
    .else_sub_text{font-size:42px;}
    .mv_item_sub_copy{font-size:24px;}

    .btn_mv_pro{padding:15px 20px; font-size:15px;}
    

    .mv_cbox{padding:20px;border-radius:10px;}
    .mv_cbox_title_row{
        margin-bottom:10px;
        .ico{width:35px;height:35px;flex-basis: 35px;}
    }
    .mv_cbox_text{font-size:20px;}
    .mv_cbox_sub{font-size:16px;}
    .mv_cbox_btn_row{margin-top:30px;}
    .btn_cbox{
        padding:10px 35px 10px 20px;
        &:after{width:6px;height:6px;top:15px;right:20px;}
    }
    .btn_cbox_text{font-size:16px;}

    .mv_card_list_wrap{padding:0 130px;}
}

@media (max-width:1440px){
    .gate_bottom_layer{bottom:70px;right:30px;}
    .btn_bottom_menu{width:90px;height:90px;}
    .mv_gate_copy_sub{font-size:24px; margin-bottom:16px;}
    .mv_gate_copy_main{font-size:68px;}
    .mv_gate_copy_sub2{
        font-size:22px; margin-top:9px;
    }
    .mv_gate_summary_wrap{margin:60px 30px 0;}
    .mv_gate_summary_list{
        gap:10px;
    }
    .mv_gate_summary{
        min-height:54px; padding:10px 20px;
    }
    .mv_gate_summary_text{font-size:15px;}

    .mv_gate02_container{
       gap:40px;margin:0 110px; 
    }
    .mv_gate02_main_copy{font-size:48px;}
    .mv_gate02_main_copy2{font-size:38px;}
    .mv_gate02_main_copy3{font-size:36px;}
    .mv_gate02_sub_copy{font-size:20px;}
    .mv_gate02_img_wrap{flex:0 0 50%;}

    .mv_secquard_img_wrap{
        img{height:90%; top:50%; transform: translateY(-50%) translate(0);left:0}
    }
    .mv_mcard_option_list{
        > li{
            padding-left:10px; font-size:14px;
            &:before{width : 3px; height:3px; top:7px;}
        }
    }

    
    .btn_mv_motion{
        &:after{width:28px; height:8.4px;flex-basis: 28px;}
    }
    .btn_mv_motion_text{font-size:14px;}


    .mv_cbox_title_row{
        gap:5px;
        .ico{width:28px;height:28px;flex-basis: 28px;}
    }
    .mv_cbox_text{font-size:16px;}
    .mv_cbox_sub{
        font-size:14px;
        br{display:none;}
    }
}

/* @media (min-height:1075px){
    .mv_scene_img_wrap{padding-top:125px}
} */
@media (max-height:1074px) and (min-width:1024px){
    .mv_scene_img_title{
        margin-bottom:2.8%; height:17.5%;
    }
    .mv_scene_text_subcopy{font-size:20px;margin-bottom:2.8%;}
    .mv_scene_img_contents{
        height:70%;
    }
    /* .mv_item_slide_item{
        box-sizing:border-box; padding:120px 30px;
    }
    .mv_item:not(.scene_01){
        box-sizing:border-box; padding:120px 30px;
    } */
}
@media (max-width:$mobile_large){
    .mv_gate_copy_wrap{margin:0 30px;}
    .mv_gate_copy_sub{font-size:14px; margin-bottom:10px;}
    .mv_gate_copy_main{font-size:34px;}
    .mv_gate_summary_wrap{margin:30px 30px 0;}
    .mv_gate_summary{
        .ico{width:28px;height:28px; flex-basis: 28px;}
    }
    .mv_gate_summary_text{font-size:14px;}
    .mv_gate_summary_list{
        margin:0 -5px;
        > li{flex:0 0 calc(50% - 10px)}
    }
    .mv_gate_summary{min-height:0;height:100%; box-sizing: border-box; width:100%; border-radius:10px;padding:10px;}

    .mv_gate02_container{
        /* margin:0 230px; */ margin:0 50px; display:block; text-align: center;
    }
    .mv_gate02_copy_wrap{text-align: center;}
    .mv_gate02_main_copy{font-size:34px;margin-bottom:5px;letter-spacing: -0.5px;}
    .mv_gate02_main_copy2{font-size:30px; letter-spacing: -.25px;}
    .mv_gate02_main_copy3{font-size:28px;letter-spacing: -.25px;}
    .mv_gate02_sub_copy{font-size:14px; margin-top:10px;}
    .mv_gate02_img_wrap{
        margin-top:20px;
        img{}
    }

    .mv_secquard_img_wrap{
        margin:0 20px;
        img{height:100%;}
    }

    .mv_item_inner{
        gap:30px;
    }
    .swiper{
        &.mv_container{
            height:100vh;
            .swiper-pagination.mv_global{
                &.swiper-pagination-vertical.swiper-pagination-bullets, 
                 > .swiper-pagination-bullets{left:10px;
                    .swiper-pagination-bullet{margin:8px 0;}
                }
            }
        }
    }
    .swiper-pagination{
        &.mv_inner{
            bottom:30px; 
            .swiper-pagination-bullet{
                width:8px;height:8px;
                &.swiper-pagination-bullet-active{
                    width:28px;
                }
            }
        }
    }
    
    .gate_bottom_layer{bottom:20px;right:20px;}
    .btn_bottom_menu{
        width:70px;height:70px; gap:5px;
        .ico{
             @include bgicon;
            &.inquiry{width:26.4px;height:19.2px;}
        }
    }
    .bottom_menu_text{font-size:13px;}
    
    .mv_cbox_cell{
        &.merged{display:none;}
    }
    
    .mv_item_inner {
        &.type3{
            padding:70px 0;
        }
        > .mv_cbox_copy_wrap{
            &.mb_item{
                padding:0 30px;
                text-align: center;
            }
        }
    }
    .mv_cbox_main_copy{font-size:34px;}
    .mv_cbox_sub_copy{margin-top:10px; font-size:16px;}
    .mv_cbox_container{
       padding:0 30px; display:flex; flex-wrap:wrap; margin:0 -10px 0 0; gap:10px; width:auto;
    }
    .mv_cbox_cell{
        /* margin-bottom:10px; 
        &:last-of-type{margin-bottom:0;} */
        flex : 0 0 calc(50% - 10px);
    }
    .mv_cbox_sub{height:auto !important;}
    
    .mv_cbox{padding:15px;}
    
    .btn_cbox_text{font-size:14px;}
    .btn_cbox{
        display:block; text-align: center;
        &:after{top:13.5px;}
    }
    
    
    
    /* .mv_item_copy_wrap{margin:0 50px;} */
    .mv_item_main_copy{font-size:34px;
        strong{display:block;}
    }
    .mv_item_sub_copy{font-size:16px;}
    .else_sub_text{font-size:30px;}
    .mv_item_package{margin:0 30px;padding:70px 0; gap:30px;
        .mv_item_copy_wrap{margin-left:0;margin-right:0;}
    }
    
    .mv_card_list_wrap{
        padding:0;
    }
    .mv_card_list{
        gap:10px; flex-wrap:wrap;
        > li{
            flex:0 0 calc(50% - 10px);
        }
    }
    
    .mv_card_obj{padding:15px 10px;
        &:before{border-radius:10px;}
    }
    .mv_pro_sub_copy{font-size:14px;}
    .mv_pro_sumary{font-size:14px;}
    .mv_pro_icon_wrap{
        .ico{width:50px;height:50px;}
    }
    .mv_pro_btn_wrap{margin-top:15px;}
    .btn_mv_pro{min-width:0;padding:10px 15px;font-size:14px;}
    
    .mv_motion_card_list_wrap{padding:0;}
    .mv_motion_card_list{
        gap:10px; flex-wrap:wrap; margin-right:-10px; width:auto;
        > li{
            flex:0 0 calc(50% - 10px);
        }
    }
    .mv_motion_card{min-height:400px; border-radius:10px;}
    .mv_motion_caption{font-size:13px;}
    .mv_motion_hover_row{
        width:100%;
    }
    .btn_mv_motion{
        flex:0 0 50px; gap:5px;
        &:after{width:20px;height:6px; flex:0 0 20px;}
    }
    .btn_mv_motion_text{font-size:13px;}

    .mv_mcard_option_list{
        > li{
            font-size:13px;padding-left:8px; margin-bottom:5px;line-height:1.3;
            &:before{top:6px;}
        }
    }

    .mv_motion_keyword{font-size:12px;}
}

@media (min-width:1921px){
    .mv_gate_summary_wrap{margin-top:150px}
    .mv_cbox_container{margin:0 auto; max-width:1485px;padding:0;}
    .mv_motion_card_list_wrap{margin:0 auto; max-width:1620px;padding:0;}
    .mv_card_list_wrap{margin:0 auto; width:1515px;padding:0;}

    .mv_gate02_container{
        display:flex; justify-content: center; gap:120px; margin:0 230px; align-items: center;
    }
}