

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('./webfont/Pretendard-Black.woff2') format('woff2'), url('./webfont/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('./webfont/Pretendard-ExtraBold.woff2') format('woff2'), url('./webfont/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('./webfont/Pretendard-Bold.woff2') format('woff2'), url('./webfont/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('./webfont/Pretendard-SemiBold.woff2') format('woff2'), url('./webfont/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('./webfont/Pretendard-Medium.woff2') format('woff2'), url('./webfont/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('./webfont/Pretendard-Regular.woff2') format('woff2'), url('./webfont/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('./webfont/Pretendard-Light.woff2') format('woff2'), url('./webfont/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('./webfont/Pretendard-ExtraLight.woff2') format('woff2'), url('./webfont/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('./webfont/Pretendard-Thin.woff2') format('woff2'), url('./webfont/Pretendard-Thin.woff') format('woff');
}



/* font-face */
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('./webfont/GmarketSansLight.eot');
    src: url('./webfont/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
        url('./webfont/GmarketSansLight.woff2') format('woff2'),
        url('./webfont/GmarketSansLight.woff') format('woff'),
        url('./webfont/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('./webfont/GmarketSansMedium.eot');
    src: url('./webfont/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
        url('./webfont/GmarketSansMedium.woff2') format('woff2'),
        url('./webfont/GmarketSansMedium.woff') format('woff'),
        url('./webfont/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('./webfont/GmarketSansBold.eot');
    src: url('./webfont/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
        url('./webfont/GmarketSansBold.woff2') format('woff2'),
        url('./webfont/GmarketSansBold.woff') format('woff'),
        url('./webfont/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("./webfont/Montserrat-Regular.eot");
    src: url("./webfont/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("./webfont/Montserrat-Regular.woff") format("woff"), url("./webfont/Montserrat-Regular.ttf") format("truetype"), url("./webfont/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("./webfont/Montserrat-Bold.eot");
    src: url("./webfont/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("./webfont/Montserrat-Bold.woff") format("woff"), url("./webfont/Montserrat-Bold.ttf") format("truetype"), url("./webfont/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
}





@font-face {
    font-family: 'Rubik Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Regular'), url('./webfont/Rubik-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Italic'), url('./webfont/Rubik-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Light';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Light'), url('./webfont/Rubik-Light.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Light Italic'), url('./webfont/Rubik-LightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Medium'), url('./webfont/Rubik-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Medium Italic'), url('./webfont/Rubik-MediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Bold'), url('./webfont/Rubik-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Bold Italic'), url('./webfont/Rubik-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Black';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Black'), url('./webfont/Rubik-Black.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Black Italic'), url('./webfont/Rubik-BlackItalic.woff') format('woff');
}


/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('./webfont/Poppins-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('./webfont/Poppins-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Italic'), url('./webfont/Poppins-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Italic'), url('./webfont/Poppins-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Thin'), url('./webfont/Poppins-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Thin'), url('./webfont/Poppins-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Thin Italic'), url('./webfont/Poppins-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Thin Italic'), url('./webfont/Poppins-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraLight'), url('./webfont/Poppins-ExtraLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraLight'), url('./webfont/Poppins-ExtraLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraLight Italic'), url('./webfont/Poppins-ExtraLightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraLight Italic'), url('./webfont/Poppins-ExtraLightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Light'), url('./webfont/Poppins-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Light'), url('./webfont/Poppins-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Light Italic'), url('./webfont/Poppins-LightItalic.woff') format('woff');
    }
    


    @font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium'), url('./webfont/Poppins-Medium.woff') format('woff');
    }
    


    @font-face {
    font-family: 'Poppins Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium Italic'), url('./webfont/Poppins-MediumItalic.woff') format('woff');
    }
    

    

    @font-face {
    font-family: 'Poppins SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins SemiBold'), url('./webfont/Poppins-SemiBold.woff') format('woff');
    }
    


    @font-face {
    font-family: 'Poppins SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins SemiBold Italic'), url('./webfont/Poppins-SemiBoldItalic.woff') format('woff');
    }
    


    @font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold'), url('./webfont/Poppins-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold'), url('./webfont/Poppins-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold Italic'), url('./webfont/Poppins-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraBold'), url('./webfont/Poppins-ExtraBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraBold Italic'), url('./webfont/Poppins-ExtraBoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Black';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Black'), url('./webfont/Poppins-Black.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Poppins Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Black Italic'), url('./webfont/Poppins-BlackItalic.woff') format('woff');
    }
    
